@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --color1: #ffffff;
  --color2: #b82121;
  --color3: #000000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: var(--color1);
  font-family: "Inter", sans-serif;
  margin: 0;
  background-color: var(--color3);
}

header {
  height: 850px;
  background: url(../img/rectangle.jpg);
  background-size: cover;
  padding-left: 140px;
}

header h1 {
  font-size: 55px;
  line-height: 70px;
  margin: 0;
  padding-top: 220px;
  font-weight: 800;
}

p {
  font-size: 15px;
  width: 485px;
  text-align: justify;
  padding-top: 70px;
  padding-bottom: 25px;
}

header span {
  color: var(--color2);
}

.container {
  height: 66px;
  padding-left: 36px;
}

.logo {
  padding-left: 26px;
}

.navManu {
  width: 409px;
}

.main-nav {
  position: absolute;
  top: 0px;
  z-index: 10;
  width: 99%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 15px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  padding: 0;
  font-size: 16px;
}

nav ul li {
  padding-right: 60px;
}

nav ul a {
  text-decoration: none;
  color: var(--color1);
}

.contact {
  display: flex;
  margin-right: 23px;
}

.phone {
  padding-right: 20px;
}

.phone a {
  padding-right: 10px;
}

.networks a {
  padding-left: 10px;
}

.btn {
  width: 229px;
  height: 60px;
  padding: 20px 30px;
  text-transform: uppercase;
  color: var(--color1);
  background: var(--color2);
  border-radius: 5px;
  border: 1px solid var(--color3);
  font-weight: bold;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

section,
section p {
  text-align: center;
}

section h2 {
  margin: 0;
  padding-top: 28px;
  font-weight: 700;
  font-size: 35px;
}

section p {
  font-size: 11px;
  line-height: 16px;
  font-weight: 400;
  display: block;
  margin: 0 auto;
  padding: 30px 0 35px;
}

.slider {
  display: flex;
  position: relative;
  cursor: pointer;
  width: 100%;
}

.slider-center ul {
  list-style: none;
  padding: 0;
  width: 100%;
  display: flex;
  align-items: center;
}

.slider-center ul li {
  padding: 0 5px;
  transition: 0.6s;
}

.next,
.prev {
  display: block;
  position: absolute;
  top: 50%;
  color: var(--color1);
  width: 40px;
  height: 40px;
}

.next {
  right: 0;
}

/* .nameDishes {
  position: absolute;
  bottom: 0;
  right: 0;
} */

.galary {
  position: relative;
}

.title {
  height: 300px;
}

.three {
  width: 259px;
  position: absolute;
  top: -55;
  left: 30;
}
